body{
    background-color:white;
} 

    

a:link{ text-decoration: none;
    color: red ;
    border: 2px solid green;
    padding: 15 px;
    display: block; 
    width: 200px;

}
a:visited{
    text-decoration: none;
    color:red ;
    border: 2px solid maroon ;
    padding: 15px;
}
a:hover {
    background-color: orange;
    color: white;
}